body {
    margin: 0;
    padding: 0;
    }
    .nav-item{
        font-weight: bold;
    }
    .left {
       width: 50%; 
       padding-left: 60px;
     
    }
    .right {
       width: 50%; 
       display: flex;
       margin-top: 4rem;
       flex-direction: column;
    
    }
    .parent{
       padding-top: 1rem;
    }
    .input-box {
      
       display: flex;
      
       justify-content: center;
     
       /* flex-wrap: wrap; */
    }
    
    .car-img {
    width:100%
    }
    .reg,.code {
       padding-top: 17px;
       padding-left: 10px;
       padding-bottom: 2px;
       padding-right: 20px;
       width: 20rem;
       font-weight: bold;
       border:1px solid #eacfcf;
    }
    label{
       position: absolute;
       top: 18px;
       left: 12px;
       font-size: 10px;
       font-weight: bold;
       color: gray;
      
    }
    .reg:focus + label ,.reg:valid + label{
       -webkit-transform: translate3d(0, -15px, 0);
       transform: translate3d(0, -10px, 0);
       
    }
    .code:focus + label ,.code:valid + label{
       -webkit-transform: translate3d(0, -15px, 0);
       transform: translate3d(0, -10px, 0);
       
    }
    .inner-box {
       background:rgb(244 242 253);
       display: flex;
       width: 50%;
       flex-wrap: wrap;
       justify-content: center;
       padding: 3rem;
    }
    
    .search-btn{
       background: var(--primary);
       height: 45px;
       width: 120px;
       border: 0;
       color: white;
       font-weight: 600;
       border-top-right-radius: 3px;
       border-bottom-right-radius: 3px;
    }
    .submit-btn{
       background: var(--primary);
       height: 45px;
       width: 120px;
       border: 0;
       color: white;
       font-weight: 600;
       border-top-right-radius: 3px;
       border-bottom-right-radius: 3px;
    }
    .heading{
        font-size: 28px;
        font-weight: bold;
    }

    .box{
        width: 85%;
        background:rgb(227 224 239);
        padding: 1rem;
       
    }

    .left-box{
        background: white;
        width:50%;
        border: 1px solid #eacfcf;
        padding: 8px;
        font-size: 12px;
        font-weight: bold;
    
    }

    .right-box {
        background:#a5d3ea;
       width:50%;
        border: 1px solid #eacfcf;
        padding: 8px;
        font-size: 12px;
        font-weight: bold;
    
    }
    .left-sidebar{
        background: #f2f2f2;
        border-radius: 5px;
        padding-top: 1rem;
    }

    .gallery-images{
      overflow: hidden;  
      display: flex;
      flex-wrap: wrap;
    }
    .left-img{
        background:url('images/water_proof.png');
        background-repeat:no-repeat;
        background-position: center;
        object-fit: contain;
        height: 270px;
        width: 50%;
        background-size: cover;
        padding-left: 1.5rem;
    }
    .right-images {
        width:50%;
        display: flex;
        flex-wrap: wrap;
        /* height: 500px; */
        /* background: red; */
    }

    .img-1,.img-2,.img-3,.img-4{
       width: 100%;
       height: 100%;
    }
    .img-1{
        background:url('images/wind_screen.png');
        background-repeat:no-repeat;
        background-position: center;
        object-fit: contain;
        
        background-size: contain;
    }
    .img-2{
        background:url('images/wind_screen.png');
        background-repeat:no-repeat;
        background-position: center;
        object-fit: contain;
        
        background-size: contain;
    }
    .img-3{
        background:url('images/wind_screen.png');
        background-repeat:no-repeat;
        background-position: center;
        object-fit: contain;
      
        background-size: contain;
    }
    .img-4{
        background:url('images/wind_screen.png');
        background-repeat:no-repeat;
        background-position: center;
        object-fit: contain;
           
    background-size: contain;
    }

.last-row{
padding: 0px 1.5rem;
}
.text-section{
   background: #00000087;
   height: 60px;
   width: 100%;
   padding: 5px 10px;
   position: absolute;
   bottom: 0;
   z-index: 1;
   color: white;
   padding: 5px 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 700;
}
   
.cont {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 /* Hide the browser's default checkbox */
 .cont input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }
 
 /* Create a custom checkbox */
 .checkmark {
   position: absolute;
   bottom: 0;
   left: 0;
   height: 25px;
   width: 25px;
   border-radius: 12px;
   background-color: #fff;
 }
 
 /* On mouse-over, add a grey background color */
 .cont:hover input ~ .checkmark {
   background-color: #ccc;
 }
 
 /* When the checkbox is checked, add a blue background */
 .cont input:checked ~ .checkmark {
   background-color: #2196F3;
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }
 
 /* Show the checkmark when checked */
 .cont input:checked ~ .checkmark:after {
   display: block;
 }
 
 /* Style the checkmark/indicator */
 .cont .checkmark:after {
   left: 11px;
   top: 7px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }

















    @media only screen and (max-width: 600px){
      .parent{
         flex-wrap: wrap;
      }
      
       .right,.left{   
         width: 100%;
         padding-left: 0px;
       }
       .reg,.code {
          margin: 10px;
          border:1px solid #eacfcf;
          width: 19rem;
       }
       label{
          top:23px;
          left:22px
       }
       .search-btn{
       width: 100%;
       margin: 10px;
       border-radius: 5px;
       }
       .submit-btn{
       width: 100%;
       margin: 10px;
       border-radius: 5px;
       }
       .inner-box{
    width: 100%;
    padding: .5rem;
       }
        .heading{
        font-size: 20px;
        font-weight: bold;
    }
    .left-box,.right-box {
        width:100%
    }
    .left-sidebar{
        margin:1rem
    }
    .right-images {
      height:200px;
      width: 100%;
    }
    .left-img{
       width: 100%;
    }

    .last-row{
      padding: unset;
      }
      .img-1,.img-2,.img-3,.img-4{
         height: 200px;
      }

     }