.cards-box{
    background:#f3f3f3;
    padding: 2rem;
}
.card {
    border-radius: 1rem;
}
.small-box {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 1;
    background: #6db5f5b3;
    bottom: 0;
}
.top-title{
    position: absolute;
    top: 0;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    width: 118px;
}

.box{
    width: 100%;
    background:rgb(227 224 239);
    padding: 1rem;
   
}

.left-box{
    background: white;
    width:50%;
    border: 1px solid #eacfcf;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;

}

.right-box {
    background:#a5d3ea;
   width:50%;
    border: 1px solid #eacfcf;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;

}